.oddP {
    background-color: rgb(231, 113, 113);
    font-family: Verdana, "DejaVu Sans", sans-serif;
}

.secondElem {
    color: blue;
    font-size: 36px;

}

.thirdElem {
    font-size: 24px;
}

.forthElem {
    background-color: rgb(147, 248, 82);
    font-size: 24px;
    font-weight: bold;
}